{% extends "./layout.html" %}
{% block content %}
      <form id="login_form" class="form_class" method="post"> {% csrf_token %}
          <div class="form_div"> {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
                
              <!-- <label>Register:</label>
              <input class="field_class" name="login_txt" type="text" placeholder="New username" autofocus required>
              <label>Password:</label>
              <input id="pass" class="field_class" name="password_txt" type="password" placeholder="New password" required>
              <label>Retype Password:</label>
              <input id="pass" class="field_class" name="password_txt" type="password" placeholder="Retype password" required> -->
              <button class="submit_class" type="submit" form="login_form" onclick="return validateRegister()">LOGIN</button>
          </div>
          <div class="info_div">
              <p>Already have an accout? Go back to <a href="{% url 'login' %}">login page!</a></p>
          </div>
      </form>
    
    <script>
        function validateRegister() {
            var password = document.forms["login_form"]["password"].value;
            var password2 = document.forms["login_form"]["password2"].value;
            if (password != password2) {
                alert("Passwords do not match!");
                return false;
            }
        }
    </script>
{% endblock %}